---
- name: Apply docker compose deployment
  ansible.builtin.command:
    cmd: docker compose -f {{ xray_compose_file }} up -d --remove-orphans
    chdir: "{{ xray_service_root }}"
  register: xray_deploy_compose_up
  retries: 3
  delay: 10
  until: xray_deploy_compose_up.rc == 0
  changed_when: >-
    ('Creating' in xray_deploy_compose_up.stdout) or
    ('Creating' in xray_deploy_compose_up.stderr) or
    ('Recreating' in xray_deploy_compose_up.stdout) or
    ('Recreating' in xray_deploy_compose_up.stderr) or
    ('Starting' in xray_deploy_compose_up.stdout) or
    ('Starting' in xray_deploy_compose_up.stderr) or
    ('Pulling' in xray_deploy_compose_up.stdout) or
    ('Pulling' in xray_deploy_compose_up.stderr) or
    ('Downloading' in xray_deploy_compose_up.stdout) or
    ('Downloading' in xray_deploy_compose_up.stderr)
